<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EleClienti_WSSoapBinding" />
                <binding name="EleFornitori_WSSoapBinding" />
                <binding name="WebServicesFornitoreSoapBinding" />
                <binding name="WebServicesCRMSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://85.46.89.115/standard-atlante-plus/services/EleClienti_WS"
                binding="basicHttpBinding" bindingConfiguration="EleClienti_WSSoapBinding"
                contract="EleClienti_WSService.EleClienti_WS" name="EleClienti_WS" />
            <endpoint address="http://85.46.89.115/standard-atlante-plus/services/EleFornitori_WS"
                binding="basicHttpBinding" bindingConfiguration="EleFornitori_WSSoapBinding"
                contract="EleFornitori_WSService.EleFornitori_WS" name="EleFornitori_WS" />
            <endpoint address="http://85.46.89.115/standard-atlante-plus/services/WebServicesFornitore"
                binding="basicHttpBinding" bindingConfiguration="WebServicesFornitoreSoapBinding"
                contract="WebServicesFornitoreService.WebServicesFornitore"
                name="WebServicesFornitore" />
            <endpoint address="http://85.46.89.115/standard-atlante-plus/services/WebServicesCRM"
                binding="basicHttpBinding" bindingConfiguration="WebServicesCRMSoapBinding"
                contract="WebServicesCRMService.WebServicesCRM" name="WebServicesCRM" />
        </client>
    </system.serviceModel>
</configuration>